.mobile-nav {
    position: absolute;
    width: 240px;
    top: 0;
    left: -240px;
    height: 100vh;
    background: #f4f4f4;
    overflow: hidden;
    transition: all 0.15s linear;
    opacity: 0;
    &__list {
        overflow-y: scroll;
        padding-bottom: 50vh;
        width: 240px;
        height: 100vh;
        z-index: 500;
        float: left;
        a {
            display: block;
            color: #353535;
        }
        li {
            position: relative;
            width: 100%;
            height: 50px;
            line-height: 50px;
            font-size: 15px;
            font-weight: 700;
            padding-left: 20px;
            border-bottom: 1px solid #e5e5e5;
            text-transform: uppercase;
            cursor: pointer;
        }
        .subitem {
            font-weight: normal;
            font-size: medium;
        }
        .mobile-nav__item-long {
            line-height: 25px;
        }
    }
}
.mobile-nav_opened {
    left: 0;
    opacity: 1;
}
.mobile-nav__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    transition: all .15s linear;
}

.site-section {
    transition: all 0.15s linear;
}

.site-section_mobile-nav {
    transform: translate3d(240px, 0, 0);
}

.burger-menu {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column;
    padding: 10px;
    font-size: 30px;
    line-height: 10px;
    font-weight: bold;
    color: rgb(245, 203, 85);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    z-index: 10;
    @media (min-width: 900px) {
        display: none;
    }
}
.burger-menu_active {
    transform: translate3d(240px, 0, 0);
}

.nav-logo {
    background:  rgba(56, 56, 68, 0.9);
    color: whitesmoke;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    height: 100%;
    padding-top: 25px;
    span {
        color: #f5cb55;
    }
}