{% extends 'frontend/layout/base.html' %}
{% comment %} HEAD {% endcomment %}
{% load static %}

<title>{% block title %}{{ seo.title }}{% endblock title %}</title>

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/installation.css' %}">
<meta name="description" content="{{ seo.description }}">
<meta name="keywords" content="{{ seo.keywords }}">
{% endblock meta %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "ТОВАРЫ",
                "item": "https://trotuar-bud.zp.ua/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Наши услуги",
                "item": "http://localhost:8000/nashi-uslugi/"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "{% if request.resolver_match.url_name == 'ukladka-plitki' %}Укладка тротуарной плитки{% elif request.resolver_match.url_name == 'ustanovka-evrozabora' %}Установка Еврозабора{% elif request.resolver_match.url_name == 'ustanovka-pamyatnikov' %}Установка Памятников{% endif %}"
            }
        ]
    }
</script>
{% endblock ldJson %}

{% comment %} BODY {% endcomment %}
{% block breadcrumbs %}
<li class="breadcrumbs__item"><a href="{% url 'uslugi' %}">Услуги</a></li>
{% if request.resolver_match.url_name == 'ukladka-plitki' %}
    <li class="breadcrumbs__item"><a href="{% url 'ukladka-plitki' %}">Укладка тротуарной плитки</a></li>
{% elif request.resolver_match.url_name == 'ustanovka-evrozabora' %}
    <li class="breadcrumbs__item"><a href="{% url 'ustanovka-evrozabora' %}">Установка Еврозабора</a></li>
{% elif request.resolver_match.url_name == 'ustanovka-pamyatnikov' %}
    <li class="breadcrumbs__item"><a href="{% url 'ustanovka-pamyatnikov' %}">Установка памятников</a></li>
{% endif %}
{% endblock breadcrumbs %}
{% block content %}
<div class="installation-page">
    <h1 class="page-title">{{ title }}</h1>
    <div class="installation-description">{{description|safe}}</div>
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Наименование работ</th>
                <th>Цена</th>
            </tr>
        <tbody>
            {% for item in table %}
            <tr>
                <th>{{forloop.counter}}</th>
                <td>{{item.description}}</td>
                <td>{{item.price}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </thead>
    </table>
    <div class="info">
        {% if info.page == "sett" %}
        <div class="info__text"><span>{{info.catalog}} →</span></div>
        <p class="info__numbers">
            <a href="{% url 'sett' %}"><span>Подробнее</span></a>
        </p>
        {% elif info.page == "fence" %}
        <div class="info__text"><span>{{info.catalog}} →</span></div>
        <p class="info__numbers">
            <a href="{% url 'fence' %}"><span>Подробнее</span></a>
        </p>
        {% elif info.page == "monuments" %}
        <div class="info__text"><span>{{info.catalog}} →</span></div>
        <p class="info__numbers">
            <a href="{% url 'monuments' %}"><span>Подробнее</span></a>
        </p>
        {% endif %}
    </div>
</div>

{% comment %} PAGE DESCRIPTION {{seo}} {% endcomment %}
{% include 'frontend/includes/pageDescription.html' %}

{% endblock content %}