{% extends 'frontend/layout/base.html' %}
{% comment %} HEAD {% endcomment %}
{% load static %}

<title>{% block title %}{{ seo.title }}{% endblock title %}</title>

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/news.css' %}">
<meta name="description" content="{{ seo.description }}">
<meta name="keywords" content="{{ seo.keywords }}">
{% endblock meta %}
{% block ldJson %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "ТОВАРЫ",
                "item": "https://trotuar-bud.zp.ua/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Новости и Новинки",
            },
        ]
    }
</script>
{% endblock ldJson %}

{% comment %} BODY {% endcomment %}
{% block breadcrumbs %}
<li class="breadcrumbs__item"><a href="{% url 'news' %}">Новости</a></li>
{% endblock breadcrumbs %}
{% block content %}
<div class="wrapper">
    <h1 class="page-title">Новости и новинки</h1>
    <div class="news">
        {% for newsItem in news %}
        <div class="news-item">
            <div class="news-item__row">
                <a href="{{ newsItem.productUrl }}{{ newsItem.product.slug }}" class="card">
                    <img src="{{ newsItem.product.photos.0.photo.crop.300x300 }}" alt="{{newsItem.product.name}} купить в Запорожье">
                    {% if newsItem.product.sertificate %}
                    <img class="card__sertificat" src="{% static 'images/sertificated-product.png' %}"
                        alt="Сертификат качества">
                    {% endif %}
                    {% if newsItem.product.discount %}
                    <img class="card__discount" src="{% static 'images/skidka-trotuar-bud.png' %}" alt="Скидка на товар">
                    {% endif %}
                </a>
                <div class="news-item__content">
                    <div class="news-item__title">{{ newsItem.title }}</div>
                    <time class="news-item__time">{{ newsItem.changed|date:"d-M" }}</time>
                    <div class="news__product-name"><a
                            href="{{ newsItem.productUrl }}{{ newsItem.product.slug }}">{{ newsItem.product.name }}</a>
                    </div>
                    <div class="news__price">
                        {% if newsItem.product.lowerPriceNoTable %}
                        <p>от {{newsItem.product.lowerPriceNoTable|floatformat}} грн</p>
                        {% elif newsItem.product.prices.0.lowerPrice %}
                        <p>от {{newsItem.product.prices.0.lowerPrice|floatformat}} грн</p>
                        {% else %}
                        <span style="color: #535353;">Нет информации</span>
                        {% endif %}
                    </div>
                    <div class="news-item__body">{{ newsItem.body }}</div>
                    <a href="{{ newsItem.productUrl }}{{ newsItem.product.slug }}"
                        class="news-item__button"><span>Подробнее</span></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% comment %} PAGE DESCRIPTION {{seo}} {% endcomment %}
{% include 'frontend/includes/pageDescription.html' %}

{% endblock content %}