{% extends 'frontend/layout/base.html' %}
{% comment %} HEAD {% endcomment %}
{% load static %}

<title>{% block title %}Купить {{ product.name }} в Запорожье выгодная Цена - ЧП Джас{% endblock title %}</title>

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/our_works.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/our_works__gallery.css' %}">
<meta name="description" content="{{ product.seoDescription }}">
<meta name="keywords" content="{{ product.keywords }}">


<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
{% comment %} <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script> {% endcomment %}
{% endblock meta %}
{% block ldJson %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "ТОВАРЫ",
                "item": "https://trotuar-bud.zp.ua/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Наши Работы",
            }
        ]
    }
</script>
{% endblock ldJson %}

{% comment %} BODY {% endcomment %}
{% block breadcrumbs %}
<li class="breadcrumbs__item"><a href="{% url 'our_works' %}">Наши Работы</a></li>
{% endblock breadcrumbs %}
{% block content %}

<div class="exposition">
    <h1 class="page-title">Наши работы</h1>
    <div id="gallery"></div>
    {% comment %} <div class="exposition__category">
        <h2 class="exposition__subtitle">Категория</h2>
        <div class="exposition__gallery">
            <div class="exposition__item">
                <p class="gallery__description">{{ exposition.address }}</p>
            </div>
        </div>
    </div> {% endcomment %}
</div>
{% include "frontend/includes/gallery_OurWorks_MIN.html" %}



{% endblock content %}