{% extends 'frontend/layout/base.html' %}
{% comment %} Head {% endcomment %}
{% load static %}

<title>{% block title %}{{ seo.title }}{% endblock title %}</title>

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/sertificates.css' %}">
<meta name="description" content="{{ seo.description }}">
<meta name="keywords" content="{{ seo.keywords }}">
{% endblock meta %}
{% block ldJson %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "ТОВАРЫ",
                "item": "https://trotuar-bud.zp.ua/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Сертификаты",
                "item": "https://trotuar-bud.zp.ua/sertifikaty/"
            }
        ]
    }
</script>
{% endblock ldJson %}

{% comment %} body {% endcomment %}
{% block breadcrumbs %}
<li class="breadcrumbs__item"><a href="{% url 'sertificates' %}">Сертификаты</a></li>
{% endblock breadcrumbs %}
{% block content %}
<div class="wrapper">
    <h1 class="page-title">Сертификаты
</div>
<div class="sertificates">
    {% for sert in sertificates %}
    <div class="sertificates__container"><a href="/media/{{ sert.docFile }}"
            class="sertificates__item">{{ sert.name }}</a></div>
    {% endfor %}
</div>
{% include 'frontend/includes/pageDescription.html' %}
{% endblock content %}