{% extends 'frontend/layout/base.html' %}
{% comment %} Head {% endcomment %}
{% load static %}

<title>{% block title %}{{ seo.title }}{% endblock title %}</title>

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/services.css' %}">
<meta name="description" content="{{ seo.description }}">
<meta name="keywords" content="{{ seo.keywords }}">
{% endblock meta %}

{% comment %} body {% endcomment %}
{% block content %}
<div class="wrapper">
    <h1 class="page-title">Наши Услуги</h1>
    <div class="services">
        <div class="services__item">
            <div class="services__image-block"><a href="{% url 'dostavka' %}"><img
                        src="{% static 'images/dostavka-manipulyatorom-v-zaporozhe-trotuar-bud.jpg' %}" alt="Доставка тротуарной плитки и еврозабора"></a></div>
            <div class="services__button-block"><a href="{% url 'dostavka' %}"><span>ДОСТАВКА</span></a>
            </div>
        </div>
        <div class="services__item">
            <div class="services__image-block"><a href="{% url 'ukladka-plitki' %}"><img style="width: 103%;"
                        src="{% static 'images/ukladka-trotuarnoj-plitki-v-zaporozhe-cena-trotuar-bud-fehm-ritm-ehlitbruk-bruk-haus.jpg' %}"
                        alt="Укладка тротуарной плитки под ключ Запорожье"></a></div>
            <div class="services__button-block"><a href="{% url 'ukladka-plitki' %}"><span>УКЛАДКА
                        ТРОТУАРНОЙ ПЛИТКИ</span></a></div>
        </div>
        <div class="services__item">
            <div class="services__image-block"><a href="{% url 'ustanovka-evrozabora' %}"><img
                        src="{% static 'images/ustanovka-evrozabora-pod-klyuch-zaporozhe-cena-trotuar-bud.jpg' %}"
                        alt="Установка еврозабора под ключ в Запорожье и области"></a></div>
            <div class="services__button-block"><a href="{% url 'ustanovka-evrozabora' %}"><span>УСТАНОВКА ЕВРОЗАБОРА</span></a></div>
        </div>
        <div class="services__item">
            <div class="services__image-block"><a href="{% url 'ustanovka-pamyatnikov' %}"><img src="{% static 'images/placeholder.jpeg' %}" alt="Установка памятников под ключ"></a>
            </div>
            <div class="services__button-block"><a href="{% url 'ustanovka-pamyatnikov' %}"><span>УСТАНОВКА ПАМЯТНИКОВ</span></a></div>
        </div>
        <div class="services__item">
            <div class="services__image-block"><a href="{% url 'zamer' %}"><img src="{% static 'images/placeholder.jpeg' %}" alt="Замеры для работ по укладке тротуарной плитки"></a>
            </div>
            <div class="services__button-block"><a href="{% url 'zamer' %}"><span>ЗАКАЗАТЬ ЗАМЕР</span></a></div>
        </div>
        <div class="services__item">
            <div class="services__image-block"><a href=""><img src="{% static 'images/placeholder.jpeg' %}" alt="Консультация"></a>
            </div>
            <div class="services__button-block"><a href=""><span>КОНСУЛЬТАЦИЯ</span></a></div>
        </div>
    </div>
</div>
{% include 'frontend/includes/pageDescription.html' %}
{% endblock content %}