{% extends 'frontend/layout/base.html' %}
{% comment %} Head {% endcomment %}
{% load static %}

<title>{% block title %}{{ seo.title }}{% endblock title %}</title>

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/index.css' %}">
<meta name="description" content="{{ seo.description }}">
<meta name="keywords" content="{{ seo.keywords }}">
{% endblock meta %}

{% comment %} body {% endcomment %}
{% block content %}
{% include 'frontend/includes/pageDescription.html' %}
{% endblock content %}