{% extends 'frontend/layout/base.html' %}
{% comment %} HEAD {% endcomment %}
{% load static %}

<title>{% block title %}{{ seo.title }}{% endblock title %}</title>

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/zamer.css' %}">
<meta name="description" content="{{ seo.description }}">
<meta name="keywords" content="{{ seo.keywords }}">
{% endblock meta %}
{% block ldJson %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "ТОВАРЫ",
                "item": "https://trotuar-bud.zp.ua/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Наши услуги",
                "item": "https://trotuar-bud.zp.ua/nashi-uslugi/"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "Замер",
            },
        ]
    }
</script>
{% endblock ldJson %}

{% comment %} BODY {% endcomment %}
{% block breadcrumbs %}
<li class="breadcrumbs__item"><a href="{% url 'uslugi' %}">Услуги</a></li>
<li class="breadcrumbs__item"><a href="{% url 'zamer' %}">Замеры</a></li>
{% endblock breadcrumbs %}
{% block content %}
<div class="wrapper">
    <div class="zamer">
        <div class="zamer__icon"><img src="{% static 'images/placeholder.jpeg' %}"
                alt="Замер для расчёта материалов и работ по укладке тротуарной плитки, установке еврозаборов и памятников">
        </div>
        <div class="zamer__description">
            <h1>
                Замер на территории планируемой под работы по укладке тротуарной
                плитки
            </h1>
            <p>
                Производятся опытными замерщиками ЧП Джас. Замеры обязательны для того, что бы рассчитать необходимое
                количество тротуарной плитки и сопутствующих материалов.
            </p>
            <p>
                Точные замеры позволяют расчитать количество требуемой тротуарной
                плитки и основных сопутствующих материалов, таких как геотекстиль,
                цемент, отсев, бордюр и отливы. У Вас не будут накапливаться
                оставшиеся строительные материалы, тем самым Вы значительно
                сэкономите на расходах.
            </p>
        </div>
    </div>
    {% include 'frontend/includes/services-info.html' with text="Заказать замер" %}
</div>
{% comment %} PAGE DESCRIPTION {{seo}} {% endcomment %}
{% include 'frontend/includes/pageDescription.html' %}

{% endblock content %}