{% load static %}
<script type="text/babel">
const { useState, Fragment } = React

function GalleryApp() {
  const [current, setCurrent] = useState(0);
  const [fullScreen, setFullScreen] = useState(false);
  const images = [
      {% for img in product.photos %}
      "{{ img.photo.crop.400x400 }}",
      {% endfor %}
  ];
  const image_thumbs = [
      {% for img in product.photos %}
      "{{ img.photo.crop.50x50 }}",
      {% endfor %}
  ];
  const image_full = [
      {% for img in product.photos %}
      "/media/{{ img.photo }}",
      {% endfor %}
  ];
  const next = () => {
    current !== images.length - 1 ? setCurrent(current + 1) : setCurrent(0);
  };
  const back = () => {
    current === 0 ? setCurrent(images.length - 1) : setCurrent(current - 1);
  };
  const selectThumb = (index) => {
    setCurrent(index);
  };
  fullScreen ? document.body.style.overflow = 'hidden' : document.body.style.overflow = ''
  return (
    <Fragment>
      {fullScreen && (
        <div className={"full-screen"}>
          <span onClick={() => back()}>{"<"}</span>
          <img className={"full-screen__image"} src={image_full[current]} alt="" />
          <div class="glry__counter">
              <p>{current+1} из {images.length}</p>
          </div>
          <img
            className={"full-screen__fsicon"}
            onClick={() => setFullScreen(false)}
            src={"{% static 'images/fullscreen.svg' %}"}
            alt=""
          />
          <span onClick={() => next()}>{">"}</span>
        </div>
      )}
      <div className={"glry__wrapper"}>
        <div className={"thumb-list"}>
          {image_thumbs.map((thumb, index) => (
            <div
              className={"thumb"}
              key={index}
              onClick={() => selectThumb(index)}
            >
              <img
                className={
                  index === current
                    ? "selected-image selected-image__active"
                    : "selected-image"
                }
                src={thumb}
                alt=""
              />
            </div>
          ))}
        </div>
        <div className={"glry"}>
          <span onClick={() => back()}>{"<"}</span>
          <img className={"glry__main-image"} src={images[current]} alt="" />
          <div class="glry__counter">
              <p>{current+1} из {images.length}</p>
          </div>
          <img className={"glry__fsicon"} onClick={() => setFullScreen(true)} src={"{% static 'images/fullscreen.svg' %}"} alt="" />
          <span onClick={() => next()}>{">"}</span>
        </div>
      </div>
    </Fragment>
  );
}
ReactDOM.render(
    <GalleryApp />,
    document.getElementById('gallery')
);
</script>