.wrapper { display: flex; flex: 1 1 auto; flex-direction: column; padding: 0 5pt; }

.sertificates { display: flex; flex-flow: column; }

.sertificates__container { display: flex; flex-flow: column; width: fit-content; flex-wrap: wrap; margin: 15px; }

.sertificates__container a { font-size: 16px; font-weight: bold; text-decoration: underline; color: #0000FF; transition: all 0.1s linear; }

.sertificates__container a:hover { color: #e8b718; }
