{% extends 'frontend/layout/base.html' %}
{% comment %} HEAD {% endcomment %}
{% load static %}

<title>{% block title %}{{ seo.title }}{% endblock title %}</title>

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/products.css' %}">
<link rel="canonical" href="https://trotuar-bud.zp.ua/blok-kirpich-oblitsovochnyj-dekorativnyj/" />
<meta name="description" content="{{ seo.description }}">
<meta name="keywords" content="{{ seo.keywords }}">
{% endblock meta %}
{% block ldJson %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "ТОВАРЫ",
                "item": "https://trotuar-bud.zp.ua/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Блок и Кирпич",
                "item": "https://trotuar-bud.zp.ua/blok-kirpich-oblitsovochnyj-dekorativnyj/"
            }
        ]
    }
</script>
{% endblock ldJson %}

{% comment %} BODY {% endcomment %}
{% block breadcrumbs %}
<li class="breadcrumbs__item"><a href="{% url 'brick' %}">БЛОК КИРПИЧ</a></li>
{% endblock breadcrumbs %}
{% block content %}
<script type="application/ld+json">{{ ldJsonProducts|safe }}</script>
<div class="go-up">Вверх</div>
<div class="anch-menu">
    <span>Тип</span>
    <ol class="anch-menu__list">
        {% if facblock %}<li class="anch-menu__item"><a href="#oblicovochnyj-blok">Облицовочный Блок</a></li>{% endif %}
        {% if baseblock %}<li class="anch-menu__item"><a href="#fundamentnyj-blok">Фундаментный Блок</a></li>{% endif %}
        {% if buildblock %}<li class="anch-menu__item"><a href="#stroitelnyj-blok">Строительный Блок</a></li>{% endif %}
        {% if facbrick %}<li class="anch-menu__item"><a href="#oblicovochnyj-kirpich">Облицовочный Кирпич</a></li>
        {% endif %}
    </ol>
</div>


<section class="products">
    <p class="page-title">Строительный Блок и Облицовочный Кирпич</p>
    {% if facblock %}
    <article class="products__category">
        <h2 id="oblicovochnyj-blok"><span>Облицовочный Блок</span></h2>
        <div class="products__content-wrapper">
            <div class="products__content">
                {% for card in facblock %}
                {% include 'frontend/includes/cardSnippet.html'%}
                {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}
    {% if baseblock %}
    <article class="products__category">
        <h2 id="fundamentnyj-blok"><span>Фундаментный Блок</span></h2>
        <div class="products__content-wrapper">
            <div class="products__content">
                {% for card in baseblock %}
                {% include 'frontend/includes/cardSnippet.html'%}
                {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}
    {% if buildblock %}
    <article class="products__category">
        <h2 id="stroitelnyj-blok"><span>Строительный Блок</span></h2>
        <div class="products__content-wrapper">
            <div class="products__content">
                {% for card in buildblock %}
                {% include 'frontend/includes/cardSnippet.html'%}
                {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}
    {% if facbrick %}
    <article class="products__category">
        <h2 id="oblicovochnyj-kirpich"><span>Облицовочный Кирпич</span></h2>
        <div class="products__content-wrapper">
            <div class="products__content">
                {% for card in facbrick %}
                {% include 'frontend/includes/cardSnippet.html'%}
                {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}
</section>

{% comment %} PAGE DESCRIPTION {{seo}} {% endcomment %}
{% include 'frontend/includes/pageDescription.html' %}
<script>
    document.getElementsByClassName('go-up')[0].onclick = () => {
        window.scroll({
            top: 0,
            left: 0,
            behavior: "smooth",
        })
    }
</script>
{% endblock content %}