{% extends 'frontend/layout/base.html' %}
{% comment %} HEAD {% endcomment %}
{% load static %}

<title>{% block title %}{{ seo.title }}{% endblock title %}</title>

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/products.css' %}">
<link rel="canonical" href="https://trotuar-bud.zp.ua/evrozabory-glyancevye-zaporozhe/" />
<meta name="description" content="{{ seo.description }}">
<meta name="keywords" content="{{ seo.keywords }}">
{% endblock meta %}

{% comment %} BODY {% endcomment %}
{% block breadcrumbs %}
<li class="breadcrumbs__item"><a href="{% url 'fence' %}">Еврозабор</a></li>
{% endblock breadcrumbs %}
{% block content %}
<div class="go-up">Вверх</div>
<div class="anch-menu">
    <span>Тип</span>
    <ul class="anch-menu__list">
        {% if glossy %}<li class="anch-menu__item"><a href="#glyancevyj">Глянцевый Еврозабор</a></li>{% endif %}
        {% if ordinary %}<li class="anch-menu__item"><a href="#betonnyj">Бетонный Еврозабор</a></li>{% endif %}
        {% if columns %}<li class="anch-menu__item"><a href="#stolby">Бетонные столбы</a></li>{% endif %}
    </ul>
</div>

<section class="products">
    <h1 class="page-title">Еврозабор и <a href="{% url 'fence' %}#stolby">Бетонные Столбы</a> в Запорожье</h1>
    {% if glossy %}
    <article class="products__category">
        <h2 id="glyancevyj"><span>Глянцевый Еврозабор</span></h2>
        <div class="products__content-wrapper">
            <div class="products__content">
                {% for card in glossy %}
                {% include 'frontend/includes/cardSnippet.html'%}
                {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}
    {% if ordinary %}
    <article class="products__category">
        <h2 id="betonnyj"><span>Бетонный Еврозабор</span></h2>
        <div class="products__content-wrapper">
            <div class="products__content">
                {% for card in ordinary %}
                {% include 'frontend/includes/cardSnippet.html'%}
                {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}
    {% if columns %}
    <article class="products__category">
        <h2 id="stolby"><span>Бетонные столбы</span></h2>
        <div class="products__content-wrapper">
            <div class="products__content">
                {% for card in columns %}
                {% include 'frontend/includes/cardSnippet.html'%}
                {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}
</section>

{% comment %} PAGE DESCRIPTION {{seo}} {% endcomment %}
{% include 'frontend/includes/pageDescription.html' %}
<script>
    document.getElementsByClassName('go-up')[0].onclick = () => {
      window.scroll({
        top: 0,
        left: 0,
        behavior: "smooth",
      })
    }
</script>
{% endblock content %}