{% extends 'frontend/layout/base.html' %}
{% comment %} HEAD {% endcomment %}
{% load static %}

<title>{% block title %}{{ seo.title }}{% endblock title %}</title>

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/products.css' %}">
<meta name="description" content="{{ seo.description }}">
<meta name="keywords" content="{{ seo.keywords }}">
{% endblock meta %}

{% comment %} BODY {% endcomment %}
{% block content %}
<div class="go-up">Вверх</div>
<div class="anch-menu">
    <span>Тип</span>
    <ul class="anch-menu__list">
        {% if capital %}<li class="anch-menu__item"><a href="#betonnye">Бетонные памятники</a></li>{% endif %}
        {% if granite %}<li class="anch-menu__item"><a href="#granitnye">Гранитные памятники</a></li>{% endif %}
        {% if nameplate %}<li class="anch-menu__item"><a href="#tablichki">Овалы и Таблички</a></li>{% endif %}
        {% if coverplate %}<li class="anch-menu__item"><a href="#otmostka">Отмостка</a></li>{% endif %}
    </ul>
</div>

<section class="products">
    <h1 class="page-title">Памятники и сопутствующие товары</h1>
    {% if capital %}
    <article class="products__category">
        <h2 id="betonnye"><span>Бетонные памятники</span></h2>
        <div class="products__content-wrapper">
            <div class="products__content">
                {% for card in capital %}
                {% include 'frontend/includes/monumentsCard.html'%}
                {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}
    {% if granite %}
    <article class="products__category">
        <h2 id="granitnye"><span>Гранитные памятники</span></h2>
        <div class="products__content-wrapper">
            <div class="products__content">
                {% for card in granite %}
                {% include 'frontend/includes/monumentsCard.html'%}
                {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}
    {% if nameplate %}
    <article class="products__category">
        <h2 id="tablichki"><span>Овалы и Таблички для памятников</span></h2>
        <div class="products__content-wrapper">
            <div class="products__content">
                {% for card in nameplate %}
                {% include 'frontend/includes/cardSnippet.html'%}
                {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}
    {% if coverplate %}
    <article class="products__category">
        <h2 id="otmostka"><span>Отмостка для памятников</span></h2>
        <div class="products__content-wrapper">
            <div class="products__content">
                {% for card in coverplate %}
                {% include 'frontend/includes/cardSnippet.html'%}
                {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}
</section>

{% comment %} PAGE DESCRIPTION {{seo}} {% endcomment %}
{% include 'frontend/includes/pageDescription.html' %}
<script>
    document.getElementsByClassName('go-up')[0].onclick = () => {
      window.scroll({
        top: 0,
        left: 0,
        behavior: "smooth",
      })
    }
</script>
{% endblock content %}