{% extends 'frontend/layout/base.html' %}
{% comment %} HEAD {% endcomment %}
{% load static %}

<title>{% block title %}{{ seo.title }}{% endblock title %}</title>

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/products.css' %}">
<meta name="description" content="{{ seo.description }}">
<meta name="keywords" content="{{ seo.keywords }}">
{% endblock meta %}

{% comment %} BODY {% endcomment %}
{% block content %}
<div class="go-up">Вверх</div>
<div class="anch-menu">
    <span>Тип</span>
    <ul class="anch-menu__list">
        {% if cap %}<li class="anch-menu__item"><a href="#kryshki">Крышки</a></li>{% endif %}
        {% if parapet %}<li class="anch-menu__item"><a href="#parapet">Парапеты</a></li>{% endif %}
    </ul>
</div>

<section class="products">
    <h1 class="page-title">Крышки и Парапеты в Запорожье</h1>
    {% if cap %}
    <article class="products__category">
        <h2 id="kryshki"><span>Крышки</span></h2>
        <div class="products__content-wrapper">
            <div class="products__content">
                {% for card in cap %}
                {% include 'frontend/includes/cardSnippet.html'%}
                {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}
    {% if parapet %}
    <article class="products__category">
        <h2 id="parapet"><span>Парапеты</span></h2>
        <div class="products__content-wrapper">
            <div class="products__content">
                {% for card in parapet %}
                {% include 'frontend/includes/cardSnippet.html'%}
                {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}
</section>

{% comment %} PAGE DESCRIPTION {{seo}} {% endcomment %}
{% include 'frontend/includes/pageDescription.html' %}
<script>
    document.getElementsByClassName('go-up')[0].onclick = () => {
      window.scroll({
        top: 0,
        left: 0,
        behavior: "smooth",
      })
    }
</script>
{% endblock content %}