{% extends 'frontend/layout/base.html' %}
{% comment %} HEAD {% endcomment %}
{% load static %}

<title>{% block title %}{{ seo.title }}{% endblock title %}</title>

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/products.css' %}">
<link rel="canonical" href="https://trotuar-bud.zp.ua/parapety-kryshki-v-zaporozhe/" />
<meta name="description" content="{{ seo.description }}">
<meta name="keywords" content="{{ seo.keywords }}">
{% endblock meta %}
{% block ldJson %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "ТОВАРЫ",
                "item": "https://trotuar-bud.zp.ua/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Крышки и Парапеты",
                "item": "https://trotuar-bud.zp.ua/parapety-kryshki-v-zaporozhe/"
            }
        ]
    }
</script>
{% endblock ldJson %}

{% comment %} BODY {% endcomment %}
{% block breadcrumbs %}
<li class="breadcrumbs__item"><a href="{% url 'parapet' %}">Крышки Парапеты</a></li>
{% endblock breadcrumbs %}
{% block content %}
<script type="application/ld+json">{{ ldJsonProducts|safe }}</script>
<div class="go-up">Вверх</div>
<div class="anch-menu">
    <span>Тип</span>
    <ol class="anch-menu__list">
        {% if cap %}<li class="anch-menu__item"><a href="#kryshki">Крышки</a></li>{% endif %}
        {% if parapet %}<li class="anch-menu__item"><a href="#parapet">Парапеты</a></li>{% endif %}
    </ol>
</div>

<section class="products">
    <p class="page-title">Крышки и Парапеты в Запорожье</p>
    {% if cap %}
    <article class="products__category">
        <h2 id="kryshki"><span>Крышки</span></h2>
        <div class="products__content-wrapper">
            <div class="products__content">
                {% for card in cap %}
                {% include 'frontend/includes/cardSnippet.html'%}
                {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}
    {% if parapet %}
    <article class="products__category">
        <h2 id="parapet"><span>Парапеты</span></h2>
        <div class="products__content-wrapper">
            <div class="products__content">
                {% for card in parapet %}
                {% include 'frontend/includes/cardSnippet.html'%}
                {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}
</section>

{% comment %} PAGE DESCRIPTION {{seo}} {% endcomment %}
{% include 'frontend/includes/pageDescription.html' %}
<script>
    document.getElementsByClassName('go-up')[0].onclick = () => {
        window.scroll({
            top: 0,
            left: 0,
            behavior: "smooth",
        })
    }
</script>
{% endblock content %}