{% extends 'frontend/layout/base.html' %}
{% comment %} HEAD {% endcomment %}
{% load static %}

<title>{% block title %}Купить {{ product.name }} в Запорожье выгодная Цена - ЧП Джас{% endblock title %}</title>

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/productPage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/gallery.css' %}">
<meta name="description" content="{{ product.seoDescription }}">
<meta name="keywords" content="{{ product.keywords }}">
  <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
{% endblock meta %}
{% block ldJson %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "ТОВАРЫ",
                "item": "https://trotuar-bud.zp.ua/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "{% if request.resolver_match.url_name == 'settPage' %}Тротуарная плитка{% elif request.resolver_match.url_name == 'fencePage' %}Еврозабор{% elif request.resolver_match.url_name == 'brickPage' %}Колотый блок кирпич{% elif request.resolver_match.url_name == 'parapetPage' %}Крышки и Парапеты{% elif request.resolver_match.url_name == 'monumentsPage' %}Памятники{% endif %}",
                "item": "{% if request.resolver_match.url_name == 'settPage' %}https://trotuar-bud.zp.ua{% url 'sett' %}{% elif request.resolver_match.url_name == 'fencePage' %}https://trotuar-bud.zp.ua{% url 'fence' %}{% elif request.resolver_match.url_name == 'brickPage' %}https://trotuar-bud.zp.ua{% url 'brick' %}{% elif request.resolver_match.url_name == 'parapetPage' %}https://trotuar-bud.zp.ua{% url 'parapet' %}{% elif request.resolver_match.url_name == 'monumentsPage' %}https://trotuar-bud.zp.ua{% url 'monuments' %}{% endif %}"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "{{product.name}}",
            },
        ]
    }
</script>
{% endblock ldJson %}

{% comment %} BODY {% endcomment %}
{% block breadcrumbs %}
{% include 'frontend/includes/breadcrumbsPage.html' %}
{% endblock breadcrumbs %}
{% block content %}
<div class="pp">
    <div class="g-row">
        <div class="gallery">
            <div class="gallery__frame">
                <div class="gallery__main-frame">
                    <div class="gallery__row">
                        {% comment %} <img src="{{product.photos.0.photo.crop.400x400}}" alt=""> {% endcomment %}
                        <div id="gallery"></div>
                    </div>
                </div>
            </div>
            <div class="table-wrapper">
                <div class="title">
                    <div class="title__row">
                        <h1>{{ product.name }}</h1>
                    </div>
                </div>
                <div class="sizes">{{ product.sizes }}</div>
                {% if product.article.article == "vibropressed" %}
                <div class="table">
                    <div class="table__press"></div>
                    <div class="table__content">
                        <table>
                            <caption>Стоимость</caption>
                            <thead>
                                <tr>
                                    <th>цвет</th>
                                    {% for d in product.prices.0.depthPrice %}
                                    <th>{{ d.depth.size }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for price in product.prices %}
                                <tr>
                                    <td>{{ price.color }}</td>
                                    {% for prs in price.depthPrice %}
                                    <td>{{ prs.price|floatformat }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% else %}
                <div class="table2">
                    <div class="table2__box">
                        <div class="table2__prices-row">
                            <div class="table2__label">
                                <p><span>ЦВЕТ</span></p>
                            </div>
                            <div class="table2__label">
                                <p><span>ЦЕНА</span></p>
                            </div>
                        </div>
                        {% if product.prices|length > 0 %}
                        {% for clr in product.prices %}
                        <div class="table2__prices-row">
                            <div class="table2__label">
                                <p>{{ clr.color }}</p>
                            </div>
                            <div class="table2__label">
                                <p>{{ clr.noDepthPrice }}</p>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="table2__prices-row">
                            <div class="table2__label">
                                <p>Серый</p>
                            </div>
                            <div class="table2__label">
                                <p>Уточните по телефону</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="pp__description">{{ product.description | safe }}</div>
</div>
{% include "frontend/includes/gallery_ProdPage_MIN.html" %}


{% endblock content %}