{% extends 'frontend/layout/base.html' %}
{% comment %} HEAD {% endcomment %}
{% load static %}

<title>{% block title %}{{ seo.title }}{% endblock title %}</title>

{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/products.css' %}">
<link rel="canonical" href="https://trotuar-bud.zp.ua/trotuarnaya-plitka-bordyur-zaporozhe/" />
<meta name="description" content="{{ seo.description }}">
<meta name="keywords" content="{{ seo.keywords }}">
{% endblock meta %}
{% block ldJson %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "ТОВАРЫ",
                "item": "https://trotuar-bud.zp.ua/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Тротуарная плитка",
                "item": "https://trotuar-bud.zp.ua/trotuarnaya-plitka-bordyur-zaporozhe/"
            }
        ]
    }
</script>
{% endblock ldJson %}

{% comment %} BODY {% endcomment %}
{% block breadcrumbs %}
<li class="breadcrumbs__item"><a href="{% url 'sett' %}">Тротуарная плитка</a></li>
{% endblock breadcrumbs %}
{% block content %}
<script type="application/ld+json">{{ ldJsonProducts|safe }}</script>
<div class="go-up">Вверх</div>
<div class="anch-menu">
    <span>Тип</span>
    <ol class="anch-menu__list">
        {% if vibropressed %}<li class="anch-menu__item"><a href="#vibropressovannaya">Вибропрессованная</a></li>
        {% endif %}
        {% if vibrocast %}<li class="anch-menu__item"><a href="#vibrolitaya">Вибролитая</a></li>{% endif %}
        {% if borders %}<li class="anch-menu__item"><a href="#bordyur">Бордюр</a></li>{% endif %}
        {% if gully %}<li class="anch-menu__item"><a href="#vodostok">Водосток</a></li>{% endif %}
    </ol>
</div>

<section class="products">
    <h1 class="page-title">Тротуарная плитка <a href="{% url 'sett' %}#bordyur">Бордюр</a> и <a
            href="{% url 'sett' %}#vodostok">Водосток</a></h1>
    {% if vibropressed %}
    <article class="products__category">
        <h2 id="vibropressovannaya"><span>Вибропрессованная</span></h2>
        <div class="products__content-wrapper">
            <div class="products__content">
                {% for card in vibropressed %}
                {% include 'frontend/includes/cardSnippet.html'%}
                {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}
    {% if vibrocast %}
    <article class="products__category">
        <h2 id="vibrolitaya"><span>Вибролитая</span></h2>
        <div class="products__content-wrapper">
            <div class="products__content">
                {% for card in vibrocast %}
                {% include 'frontend/includes/cardSnippet.html'%}
                {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}
    {% if borders %}
    <article class="products__category">
        <h2 id="bordyur"><span>Бордюр</span></h2>
        <div class="products__content-wrapper">
            <div class="products__content">
                {% for card in borders %}
                {% include 'frontend/includes/cardSnippet.html'%}
                {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}
    {% if gully %}
    <article class="products__category">
        <h2 id="vodostok"><span>Водосток</span></h2>
        <div class="products__content-wrapper">
            <div class="products__content">
                {% for card in gully %}
                {% include 'frontend/includes/cardSnippet.html'%}
                {% endfor %}
            </div>
        </div>
    </article>
    {% endif %}
</section>

{% comment %} PAGE DESCRIPTION {{seo}} {% endcomment %}
{% include 'frontend/includes/pageDescription.html' %}
<script>
    document.getElementsByClassName('go-up')[0].onclick = () => {
        window.scroll({
            top: 0,
            left: 0,
            behavior: "smooth",
        })
    }
</script>
{% endblock content %}